* {
  margin: 0;
  padding: 0;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  height: 100%;
  margin: 1rem;
  box-sizing: border-box;
}

.card-container {
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  min-width: 350px;
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.post-box {
  display: flex;
  flex-direction: column;
}

.poster-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.profile-pic {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.caption {
  margin-bottom: 0;
}

.timestamp {
  font-size: 0.85rem;
  color: gray;
  margin-top: 0.5rem;
}

.delete-button {
  background: gray;
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%;
}

.delete-button:hover {
  background: #d42511;
}

.name-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  text-align: left;
}

.rating-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: #127335;
}

.review-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
}

.tags-box {
  display: flex;
  flex-direction: row;
}

.tags {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #a3d9b1;
  color: black;
  margin-right: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.profiles-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.who-else-pics img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: -15px;
  border: 2px solid white;
}

.who-else-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.see-who-headline {
  padding-left: 1rem;
  padding-top: 2rem;
  font-weight: bold;
}

.see-who-wrapper {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.see-who-text {
  font-size: 1rem;
  font-weight: bold;
  color: #0b8036;
  margin: 0;
}

.arrow-icon {
  cursor: pointer;
  margin-bottom: -7px;
  margin-left: -2px;
  transition: transform 0.3s ease;
}

.see-who-wrapper:hover {
  transform: translateX(5px);
}

.restaurant-pic {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

p {
  text-align: left;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-width: 0;
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 400px;
  width: calc(100vw - 4rem);
  overflow-y: auto;
}

.connect-scroll {
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

button {
  padding-top: 0;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 0;
  cursor: pointer;
}

input[type='image']:hover {
  opacity: 0.7;
}

.accepted-request {
  opacity: 1 !important;
  cursor: default;
  transition: none;
}
