button {
  background-color: transparent;
  color: black;
}

.ConnectCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 2px 1px grey;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}

.connect-pic {
  width: 5rem;
  border-radius: 50%;
}
