button {
  background-color: transparent;
  color: black;
}

.ConnectCard {
  background: #FAF9F0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
}

.connect-pic {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.accepted-request {
  opacity: 1 !important;
  cursor: default;
  transition: none;
}

.wants-to-go {
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-info {
  margin-top: 0;
  color: gray;
  font-weight: bold;
  font-size: 0.8rem;
  max-width: 13rem;
  overflow-x: auto;
}
