.container {
  padding: 2rem;
  width: 18rem;
  height: 0.5rem;
  border-radius: 200px;
  background-color: #e8e3b7;
  border: 0rem;
  font-size: large;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.pref-button {
  font-size: large;
  border-radius: 40px;
  background-color: transparent;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-top: 1rem;
  padding: 0.7rem;
  transition: color 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.pref-button:hover {
  border-color: #98897e;
  color: #98897e;
}

.pref-button.active {
  background-color: #98897e;
  border-color: #98897e;
  color: white;
}
