.feed-page {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #e8e4de;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.top-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: left;
}

.logo-img {
  height: 2rem;
}

.logo-text {
  height: 2rem;
}

.new-post-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #98897e;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
