.Profile {
  text-align: center;
  background: #CCE0D7;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pic-container {
  position: relative;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
}

.user-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-icon-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 6px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease;
}

.upload-icon-button:hover {
  background-color: #f3f3f3;
}

/* Hide the default file input */
#upload-photo {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pref-card {
  background-color: #FAF9F0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pref-card-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pref-card-title {
  color: black;
  font-weight: bold;
  margin: 0;
}

.cuisine-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.cuisine-tag {
  background-color: #F2CC8F;
  border-radius: 100px;
  color: #3D405B;
  padding: 1rem;
  margin: 0;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.price-text {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.tastemates-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.3rem;
}

.tastemates-empty {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.no-tastemates {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  color: gray;
}

.tastemate-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: #3D405B;
  color: #FAF9F0;
  border-radius: 100px;
  padding: 1rem;
  height: 30px;
}

.tastemate-pic {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.tastemate-name {
  text-align: center;
}

.wishlist {
  display: flex;
  height: 340px; /*added fixed height to wishlist container to the cards would have height to reference and stretch to */
  overflow-x: scroll;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: stretch;
}

.child {
  flex: 1;
  height: 100%;
}

.child .Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.child .Card .card-container {
  flex: 1;
  height: 100%;
}

.signout-button {
  background-color: #3D405B;;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signout-button:hover {
  background-color: #5A5E87;
}

.view-details-button {
  margin: 0;
  color: #FAF9F0;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.view-details-button:hover {
  transform: scale(1.15);
  color: #FAF9F0;
}

.phone-number {
  text-align: center;
  color: grey;
}

.name-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.user-name {
  margin: 0 auto;
}

.edit-icon-button {
  transform: scale(1.15);
  color: #5a4d45;
  cursor: pointer;
}
