.Profile {
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.pic-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-pic {
  width: 15%;
}

.pref-card {
  background-color: gray;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pref-card-title {
  color: white;
  font-weight: bold;
  margin: 0;
}

.cuisine-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.cuisine-tag {
  background-color: black;
  border-radius: 100px;
  color: white;
  padding: 1rem;
  margin: 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.tastemates-container {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.3rem;
}

.tastemate-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.3rem;
  background-color: gray;
  border-radius: 100px;
  padding: 1rem;
  padding-right: 2rem;
  height: 30px;
}

.tastemate-pic {
  /* width: 30%; */
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.tastemate-name {
  text-align: center;
}

.wishlist {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
